{
  "env": {
    "node": true,
    "browser": true
  },
  "globals": {
    "chrome": true,
    "crypto": true
  },
  "parser": "babel-eslint",
  "rules": {
    "strict": 0,
    "eol-last": 0,
    "quotes": [
      2,
      "single"
    ]
  }
}
